* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.game {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

main {
    display: flex;
}
#board {
    min-width: 500px;
}
#board button {
    width: 100px;
    height: 100px;
    font-size: 50px;
    padding: 0;
    text-align: center;
    outline: none;
    background: #fbfbfb;
    border-radius: none;
}

#status {
    padding: 0 20px;
}

.btn {
    outline: none;
    border: none;
    color: #fff;
    background-color: #1a8ed1;
    padding: 10px 20px;
    cursor: pointer;
}

.title {
    font-size: 3em;
    margin: 20px 0;
}

@media screen and (max-width: 840px) {
    .game {
        max-width: 100%;
        padding: 20px;
        text-align: center;
    }
    main {
        flex-direction: column;
    }

    #status {
        margin-top: 20px;
    }

    .btn {
        padding: 15px 40px;
    }
}
